In [190]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [191]:
train_data = pd.read_csv('./datasets/train.csv')

In [192]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [193]:
# Check the percentage of male who survived
# Check the percentage of female who survived

# Check the percentage of people with parents / children who survived
# Check the percentage of people with NO parents /  NO children who survived 

# Check the percentage of people with siblings / spouses who survived
# Check the percentage of people with NO siblings / NO spouses who survived

# Check the medium age of people who survived
# Check the medium age of people who didn't survived

# Chekc the percentage of people in each port of embarkation who survived and didn't

# Check the percentage of people of all categories above with the higher percentage against percentage of all categories with the lower percentage

In [194]:
# Checando se existem id's duplicados
len ( train_data[train_data.duplicated('PassengerId') == True] )

0

### Male VS Female

In [195]:
male = train_data[train_data['Sex'] == 'male']
female = train_data[train_data['Sex'] == 'female']

print(str ( round( train_data['Sex'].value_counts()[0] / len ( train_data ) * 100 ) ) + '% of the people on Titanic where male')
print(str ( round( train_data['Sex'].value_counts()[1] / len ( train_data ) * 100 ) ) + '% of the people on Titanic where female')

print('\n')

print ( str(  round ( len ( male[male['Survived'] == 1] ) / len (male) * 100, 2 ) ) + '% of the male survived' ) 
print ( str( round ( len ( female[female['Survived'] == 1] ) / len (female) * 100, 2 ) ) + '% of the female survived' )

print('\n')
print('Here we can see that female are much more likely to survive than men')

65% of the people on Titanic where male
35% of the people on Titanic where female


18.89% of the male survived
74.2% of the female survived


Here we can see that female are much more likely to survive than men

### Siblings VS  NO Saiblings

In [196]:
with_sib = train_data[train_data['SibSp'] > 0 ]
without_sib = train_data[train_data['SibSp'] == 0 ]

# Amount of people with and without siblings
print('Amount of people with siblings aboard: ' + str( len (with_sib )  ) )
print('Amount of people with no sibling aboard: ' + str ( len ( without_sib ) ) )

print('\n')

#Percentage of people with siblings vs no siblings
print('Percentage of people with sibling aboard: ' + str ( round( len ( with_sib ) / len (train_data) * 100, 2) ) + '% with siblings / spouses aboard' )
print('Percentage of people with no sibling aboard: ' + str ( round ( len ( without_sib ) / len (train_data) * 100, 2 ) ) + '% with no siblings / spouses aboard' )

print('\n')

# # Percent of people with sibling aboard that survived and didn't
# print(str( round( with_sib['Survived'].value_counts()[0] / len (with_sib) * 100, 2)) + '% with no siblings / spouses aboard not survived')
print(str( round( with_sib['Survived'].value_counts()[1] / len (with_sib) * 100, 2)) + '% with no sibling / spouses aboard survived')

# print('\n')

# Percent of people with no sibling aboard that survived and didn't
# print(str( round( without_sib['Survived'].value_counts()[0] / len (without_sib) * 100, 2)) + '% with siblings / spouses aboard not survived')
print(str( round( without_sib['Survived'].value_counts()[1] / len (without_sib) * 100, 2)) + '% with siblings / spouses aboard survived')

print('\n')
print('Here we can see that people with no siblings / spouses aboard have higher chances to survive')

Amount of people with siblings aboard: 283
Amount of people with no sibling aboard: 608


Percentage of people with sibling aboard: 31.76% with siblings / spouses aboard
Percentage of people with no sibling aboard: 68.24% with no siblings / spouses aboard


46.64% with no sibling / spouses aboard survived
34.54% with siblings / spouses aboard survived


Here we can see that people with no siblings / spouses aboard have higher chances to survive

In [197]:
more_than_four_sib

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
59,60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.90,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.90,NaN,S
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.55,NaN,S
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.55,NaN,S
201,202,0,3,"Sage, Mr. Frederick",male,NaN,8,2,CA. 2343,69.55,NaN,S
324,325,0,3,"Sage, Mr. George John Jr",male,NaN,8,2,CA. 2343,69.55,NaN,S
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.0,5,2,CA 2144,46.90,NaN,S
480,481,0,3,"Goodwin, Master. Harold Victor",male,9.0,5,2,CA 2144,46.90,NaN,S
683,684,0,3,"Goodwin, Mr. Charles Edward",male,14.0,5,2,CA 2144,46.90,NaN,S
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.55,NaN,S
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.55,NaN,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.55,NaN,S

### Mean age of the people who survived and who don't

In [198]:
did_survive = train_data[train_data['Survived'] == 1]
didnt_survive = train_data[train_data['Survived'] == 0]

"""print(train_data['Age'].describe())
print(train_data['Age'].unique().tolist())
print(train_data['Age'].value_counts())"""

print('Mean age of the people on Titanic: ' + str ( round (train_data['Age'].mean(), 2) ) + ' years' )

print('\n')
print( 'Mean age of the people who survived: ' + str ( round ( did_survive['Age'].mean(), 2) ) + ' years' )
print ("Mean age of the people who didn't survived: " +  str ( round ( didnt_survive['Age'].mean(), 2 ) ) + ' years' )

print('\n')
#Quantas pessoas maiores de 28 anos sobreviveram ?
older_than_28 = train_data[train_data['Age'] >= 28]
print( str ( round ( older_than_28['Survived'].value_counts()[1] / len (older_than_28) * 100, 2 ) ) + '% of people older than 28y survived') 

#Quantas pessoas menores de 28 anos sobreviveram ? 
younger_than_28 = train_data[train_data['Age'] < 28]
print( str ( round ( younger_than_28['Survived'].value_counts()[1] / len ( younger_than_28 ) * 100, 2 ) ) + '% of people younger than 28y survived' )

print('\n')
print("Here we can see that age wasn't significative for survival rate unlike the two others characteristics ")

#Poderia criar uma feature chamada older_than_28 com os valores 0 e 1 para agregar no modelo, mas como aqui não deu muita diferenca não sei faria diferença na previ...
#...são do modelo, vou testar primeiro sem e depois adicionar para ver se melhora o resultado

Mean age of the people on Titanic: 29.7 years


Mean age of the people who survived: 28.34 years
Mean age of the people who didn't survived: 30.63 years


39.52% of people older than 28y survived
41.84% of people younger than 28y survived


Here we can see that age wasn't significative for survival rate unlike the two others characteristics

### Check the percentage of people in each port of embarkation who survived and didn't

In [199]:
train_data['Embarked'].value_counts()
embark_s = train_data[train_data['Embarked'] == 'S']
embark_c = train_data[train_data['Embarked'] == 'C']
embark_q = train_data[train_data['Embarked'] == 'Q']

print(str ( round ( embark_s['Survived'].value_counts()[1] / len ( embark_s ) * 100, 2 ) ) + "% of the people embarked on 'S' survived " )
print(str ( round ( embark_c['Survived'].value_counts()[1] / len ( embark_c ) * 100, 2 ) ) + "% of the people embarked on 'C' survived " )
print(str ( round ( embark_q['Survived'].value_counts()[1] / len ( embark_q ) * 100, 2 ) ) + "% of the people embarked on 'Q' survived " )

print( "Here we can see that the people on embarkation 'C' were much more likely to survive than others, probably because of it's place ")

#Verificar em qual cabine cada embarcação ficou

33.7% of the people embarked on 'S' survived
55.36% of the people embarked on 'C' survived
38.96% of the people embarked on 'Q' survived
Here we can see that the people on embarkation 'C' were much more likely to survive than others, probably because of it's place

### Em qual cabine cada embarcação ficou? Provavelmente cada embarcação ficou concentrada em cabines próximas e a localização das cabines influênciou na porcentagem de sobrevivência # TENTAR DEPOIS

In [200]:
train_data['Cabin'].sort_values(ascending=False)
# Poderiamos aqui descrobir qual a maior cabine e a menor, qual a ordem, conseguir ordenar pelas letras e depois para o número. Normalmente as cabines de maior...
#... número ficam mais atras do navio, e isso, assim como a embarcação, pode afetar na chance de sobrevivencia, pode ser que quem estava mais para frente do navio...
#... tivesse mais chance de sobreviver ou vice versa.

#OBS PROCURAR DEPOIS COMO ORDENAR AS CABINES, SEGUIR COM AS OUTRAS FEATURES

339      T
394     G6
205     G6
251     G6
10      G6
      ...
884    NaN
885    NaN
886    NaN
888    NaN
890    NaN
Name: Cabin, Length: 891, dtype: object

In [213]:
train_data[['Cabin', 'Embarked']].groupby('Cabin').rank()

     Embarked
0       430.0
1         1.0
2       430.0
3         1.5
4       430.0
..        ...
886     430.0
887       1.0
888     430.0
889       1.0
890     136.0

[891 rows x 1 columns]

In [201]:
train_data['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

In [205]:
train_data.loc[train_data['Cabin'].notnull(), 'Cabin'].unique()
# AS letras vao ate a letra 'g', agora vamos numerá-las

array(['C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6', 'C23 C25 C27',
       'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33', 'F G73', 'E31',
       'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101', 'F E69', 'D47',
       'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4', 'A32', 'B4',
       'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35', 'C87', 'B77',
       'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19', 'B49', 'D',
       'C22 C26', 'C106', 'C65', 'E36', 'C54', 'B57 B59 B63 B66', 'C7',
       'E34', 'C32', 'B18', 'C124', 'C91', 'E40', 'T', 'C128', 'D37',
       'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44', 'A34', 'C104',
       'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14', 'B37', 'C30',
       'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38', 'B39', 'B22',
       'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68', 'B41', 'A20',
       'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48', 'E58', 'C126',
       'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63', 'C62 C64',
       'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30', 'E121',
       'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36', 'B102',
       'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42', 'C148'],
      dtype=object)

In [245]:
train_data['CabinNumber'] = train_data['Cabin'].apply(lambda x: x.replace('A', '1').replace('B', '2').replace('C', '3').replace('D', '4').replace('E', '5').replace('F', '6').replace('G', '7') 
                          if type ( x ) != float else x)

In [ ]:
#CANCELA. Não vai dar certo pois tem cabines só com uma letra então a cabine a20 '120' vai dar maior que a b2 '22' então não da para ordenar assim.

In [247]:
# train_data['CabinNumber'].dropna().astype(int) aqui não funciona pois tem cabines com mais numero

ValueError: invalid literal for int() with base 10: '323 325 327'